/* Estilos generales para el encabezado */
#header {
    background-color: #2e2e2e; /* Fondo oscuro */
    color: #f0f0f0; /* Texto en gris claro */
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace; /* Tipografía monoespaciada */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  #header .logo h1 {
    font-size: 2rem;
    margin: 0;
    color: #2d57e1; /* Azul verdoso similar al 'Sobre mí' */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(14, 113, 220, 0.5); /* Sombra de texto */
  }
  
  /* Estilos de la navegación */
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    font-size: 1.2rem;
  }
  
  .nav-links a {
    color: #f0f0f0; /* Texto gris claro */
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-links a:hover {
    color: #34c734; /* Verde cuando pasa el mouse */
    transform: scale(1.1);
  }
  
  /* Estilo para el menú móvil */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: #f0f0f0; /* Blanco para las barras */
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .menu-toggle .bar.change:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-toggle .bar.change:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle .bar.change:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Estilo cuando el menú está abierto */
  .nav-links.active {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #2e2e2e; /* Fondo oscuro para el menú */
    padding: 20px 0;
  }
  
  .nav-links.active ul {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-links.active li {
    margin-bottom: 20px;
  }
  
  .nav-links.active a {
    font-size: 1.5rem;
    color: #f0f0f0;
    text-decoration: none;
  }
  
  .nav-links.active a:hover {
    color: #34c734; /* Verde cuando pasa el mouse */
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .menu-toggle {
      display: flex;
    }
  }
  